html {
    background: black;
    background-image: url(fire.gif);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom center;
    color: white;
    font-family: sans-serif;
}
